<!DOCTYPE html>
<html>
	<head>
		<%- partial('_partial/head') %>
	</head>
	<body>
		<%- fragment_cache('loading', function(){
			return '<style>.loading{font-size:4em;width:100%;display:block;position:fixed;margin:auto;height:100%;font-weight:700;top:0;left:0;order:9999999;color:transparent;background:#fff;overflow:hidden;animation:loading .5s .5s infinite alternate}@keyframes loading{from{color:transparent}to{color:#aaa}}@media (prefers-color-scheme:dark){.loading{background-color:#242933}}</style><span class="loading">初めてのLOADING……</span>'
		}); %>

		<section id="wrapper" style="display: none">
			<div class='header'>
				<% if (!is_post()){ %>
					<%- partial('_partial/profile', {}, {cache: true}) %>
				<% } %>
				<%- partial('_partial/nav') %>
			</div>
			<%- body %>
			<%- partial('_partial/footer', {}, {cache: true}) %>
		</section>
		<%- partial('_partial/scripts', {}, {cache: true}) %>
		<!-- If you are using a script that is not compatible with the cache, then delete the cache -->
		<!-- <%- partial('_partial/scripts') %> -->
	</body>
</html>