<span class="category-page-counter fadeInUp">
	<% var categories = site.categories.length %>
	<%-  _p("counter.categories", site.categories.length) %>
</span>
<div class="archive fadeInUp" id="category">
	<ul class="ct-list">
		<h3><%= __('category') %></h3>
		<% site.categories.map(function(category){  %>
			<a class="ct-item ct-category" href="<%- url_for(category.path) %>" title="<%= category.name %>"><%= category.name %><span class="ct-item-count"><%= category.length %></span></a>
		<% }) %>
	</ul>
</div>