<span class="tag-page-counter">
	<% var tags_length = site.tags.length %>
	<%-  _p("counter.tags", site.tags.length) %>
</span>
<div class="archive fadeInUp" id="tagcloud">
	<ul class="ct-list">
		<h3 class="archive-title"><%= __('tagcloud') %></h3>
		<% site.tags.map(function(tag){  %>
			<a href="<%- config.root %>tags/<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %><span><%= tag.length %></span></a>
		<% }) %>
	</ul>
</div>