<a class="btn" id="loadcmts" onclick="cmts.load();"><%= __('load_comments') %></a>
<div id="disqusjs"></div>
<script>
	const cmts={
		load:function cmts(){
			const HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
			const jsSrc = '<%- theme.js.disqusjs %>';
			const script = document.createElement('script');
			script.setAttribute('type','text/javascript');
			script.onload = function() {
				const disqusjs = new DisqusJS({
				    shortname: '<%- theme.comment.disqusjs.shortname %>',
				    siteName: '<%- theme.comment.disqusjs.sitename %>',
				    api: '<%- theme.comment.disqusjs.api %>',
				    apikey: '<%- theme.comment.disqusjs.apikey %>',
				});
				disqusjs.render(document.getElementById('disqusjs'));
			}
			script.setAttribute('src', jsSrc);
			HEAD.appendChild(script);
			const loadcmt = document.getElementById("loadcmts");
			const imyourfather = loadcmt.parentNode;
			imyourfather.removeChild(loadcmts)
		}
	}
</script>